.draggable-el {
    position: absolute;
    background-color: forestgreen;
    padding: 2px 5px;
    cursor: grab;
    border-radius: 20px;

    user-select: none;
}

.draggable-el-wurzelknoten {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: #00cc69;
    padding: 2px 5px;
    cursor: grab;
    border-radius: 20px;

    user-select: none;
}

.draggable-el-freierKnoten {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: #3399ff;
    padding: 2px 5px;
    cursor: grab;
    border-radius: 20px;

    user-select: none;
}

.show {
    display: block;
}

.menuOption {
    display: block;
}


.draggable-el-del {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: palegreen;
    padding: 2px 5px;
    cursor: grab;
    border-radius: 20px;
}

.graphenraum {
    width: 33%;
    float: left;
}

#knotenOptionen{
    display: flex;
    gap: 2px;
}

.knotenOpt{
    border:1px solid #000000;
    background-color: 	#DCDCDC;
}

.hauptcontainer{
    width: 100%;
    
}

td{
    width: 33%;
    border: 1px solid black;
    text-align: center;
}

#ueberschriften *{
    user-select: none;
}