#formGraphenVerbinden{
    visibility: hidden;
    position: fixed;
    top: 30%;
    left: 30%;
    border: 1px solid black;
    background-color: lightgreen;

    z-index: 5;

    width: 500px;
    height: 200px;
}

#formGraphenVerbinden_Schliessen{
    position: relative;
    color: white;
    background-color: red;
    align-self: center;
}